# Slicing and Dicing Dataframes

You have seen how to do indexing of dataframes using ```df.iloc``` and ```df.loc```. Now, let's see how to subset dataframes based on certain conditions.

In [16]:
# loading libraries and reading the data
import numpy as np
import pandas as pd

df = pd.read_csv("../market_fact.csv")
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

### Subsetting Rows Based on Conditions

Often, you want to select rows which satisfy some given conditions. For e.g., select all the orders where the ```Sales > 3000```, or all the orders where ```2000 < Sales < 3000``` and ```Profit < 100```.

Arguably, the best way to do these operations is using ```df.loc[]```, since ```df.iloc[]``` would require you to remember the integer column indices, which is tedious.

Let's see some examples.

In [ ]:
# Select all rows where Sales > 3000
# First, we get a boolean array where True corresponds to rows having Sales > 3000
df.Sales > 3000

0       False
1       False
2        True
3       False
4        True
5       False
6       False
7        True
8       False
9       False
10       True
11      False
12      False
13       True
14      False
15      False
16      False
17       True
18      False
19      False
20      False
21      False
22       True
23      False
24      False
25      False
26      False
27      False
28       True
29      False
        ...
8369    False
8370    False
8371     True
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383     True
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397     True
8398    False
Name: Sales, Length: 8399, dtype: bool

In [19]:
# Then, we pass this boolean array inside df.loc
df.loc[df.Sales > 3000]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
...,...,...,...,...,...,...,...,...,...,...
8366,Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.0600,0.03,39,5081.87,19.99,0.38
8367,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25,1653.60,24.49,NaN
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62

In [20]:
# An alternative to df.Sales is df['Sales]
# You may want to put the : to indicate that you want all columns
# It is more explicit
df.loc[df['Sales'] > 3000, :].sort_values(by='Sales')

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2592,Ord_4297,Prod_10,SHP_5996,Cust_1445,3000.880,0.01,50,-719.17,36.61,0.61
148,Ord_1649,Prod_2,SHP_2277,Cust_498,3005.740,0.02,48,1053.21,3.99,0.57
719,Ord_2113,Prod_17,SHP_2889,Cust_805,3008.500,0.05,33,1101.90,14.00,0.36
6777,Ord_3841,Prod_4,SHP_5327,Cust_1332,3015.494,0.08,18,251.54,8.99,0.56
5819,Ord_3585,Prod_1,SHP_4962,Cust_1260,3016.850,0.05,38,-967.67,35.00,0.81
...,...,...,...,...,...,...,...,...,...,...
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.600,0.05,49,12748.86,24.49,0.44
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.850,0.01,9,3992.52,24.49,0.37
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.210,0.09,8,3852.19,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.760,0.07,7,102.61,24.49,0.39
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.050,0.00,13,27220.69,24.49,0.39

In [ ]:
# We combine multiple conditions using the & operator
# E.g. all orders having 2000 < Sales < 3000 and Profit > 100
df.loc[(df.Sales > 2000) & (df.Sales < 3000) & (df.Profit > 100), :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
81,Ord_5205,Prod_4,SHP_7274,Cust_1749,2546.5235,0.09,26,210.00,7.69,0.59
109,Ord_139,Prod_17,SHP_186,Cust_45,2671.2100,0.06,14,636.18,15.59,0.36
110,Ord_239,Prod_4,SHP_332,Cust_45,2157.3085,0.00,38,519.25,5.31,0.57
141,Ord_1673,Prod_17,SHP_2314,Cust_498,2027.5500,0.04,14,537.40,13.99,0.37
146,Ord_1649,Prod_4,SHP_2278,Cust_498,2209.5155,0.06,41,458.62,5.31,0.57
176,Ord_2273,Prod_8,SHP_3101,Cust_878,2899.9800,0.10,19,666.01,5.50,0.49
184,Ord_5230,Prod_4,SHP_7304,Cust_1753,2197.4115,0.00,20,305.96,7.69,0.58
186,Ord_5159,Prod_5,SHP_7210,Cust_1753,2213.9200,0.03,20,768.34,13.99,0.65
230,Ord_657,Prod_4,SHP_899,Cust_209,2343.0760,0.06,24,311.64,8.99,0.58
285,Ord_1607,Prod_4,SHP_2220,Cust_506,2980.3720,0.02,19,494.63,8.99,0.57
314,Ord_1521,Prod_15,SHP_2100,Cust_560,2230.9700,0.06,12,273.27,26.20,0.59
349,Ord_4896,Prod_4,SHP_6829,Cust_1674,2827.1425,0.01,35,713.88,4.90,0.56
395,Ord_4144,Prod_2,SHP_5772,Cust_1418,2182.9100,0.10,40,549.45,3.50,0.57
404,Ord_1621,Prod_3,SHP_2238,Cust_566,2010.8900,0.09,34,564.07,11.55,0.38
510,Ord_3848,Prod_4,SHP_5335,Cust_1346,2660.6105,0.03,46,618.07,8.99,0.56
522,Ord_142,Prod_8,SHP_191,Cust_51,2689.4800,0.04,27,399.93,19.99,0.50
536,Ord_4909,Prod_2,SHP_6846,Cust_227,2180.2300,0.05,37,660.25,3.50,0.57
541,Ord_4935,Prod_4,SHP_6886,Cust_1680,2292.1015,0.02,21,398.36,3.00,0.59
647,Ord_4292,Prod_5,SHP_5988,Cust_1439,2758.2200,0.00,15,966.81,13.99,0.75
680,Ord_674,Prod_4,SHP_922,Cust_212,2404.5990,0.08,45,496.89,4.99,0.58
688,Ord_4904,Prod_1,SHP_6841,Cust_1682,2257.8800,0.01,38,474.98,9.71,0.57
718,Ord_2069,Prod_4,SHP_2832,Cust_783,2135.9735,0.07,40,239.40,8.99,0.59
720,Ord_2150,Prod_4,SHP_2932,Cust_805,2773.0315,0.04,38,897.87,0.99,0.55
729,Ord_4826,Prod_3,SHP_6724,Cust_1588,2168.0500,0.00,5,416.02,19.99,0.35
767,Ord_2054,Prod_2,SHP_2808,Cust_828,2192.6300,0.05,37,660.06,3.99,0.57
775,Ord_5154,Prod_4,SHP_7204,Cust_1746,2610.8940,0.00,23,516.19,5.63,0.60
783,Ord_2666,Prod_4,SHP_3652,Cust_1017,2368.1680,0.00,30,1181.30,1.25,0.39
809,Ord_4279,Prod_1,SHP_5971,Cust_1440,2752.6800,0.04,45,430.32,12.78,0.58
810,Ord_4269,Prod_2,SHP_5958,Cust_1440,2405.0000,0.10,39,696.17,0.99,0.58
...,...,...,...,...,...,...,...,...,...,...
7777,Ord_3414,Prod_2,SHP_4733,Cust_1196,2167.0500,0.02,36,684.90,3.50,0.57
7778,Ord_3363,Prod_6,SHP_4663,Cust_1196,2040.3900,0.07,50,221.09,19.99,0.36
7788,Ord_2482,Prod_4,SHP_3399,Cust_977,2252.2620,0.10,42,478.11,5.63,0.56
7811,Ord_3215,Prod_4,SHP_4458,Cust_1188,2080.0350,0.10,31,844.90,1.25,0.39
7823,Ord_4370,Prod_9,SHP_6092,Cust_1492,2325.4200,0.02,25,739.91,19.99,0.40
7858,Ord_3232,Prod_3,SHP_4483,Cust_1200,2206.1700,0.02,4,251.43,19.99,0.37
7875,Ord_1762,Prod_17,SHP_2443,Cust_577,2287.1000,0.07,23,231.49,19.99,0.52
7877,Ord_1748,Prod_4,SHP_2421,Cust_577,2503.3265,0.04,45,447.12,8.80,0.58
7884,Ord_710,Prod_4,SHP_973,Cust_244,2529.3960,0.06,25,371.21,3.00,0.59
7911,Ord_5012,Prod_4,SHP_6993,Cust_1693,2882.7070,0.02,16,303.23,5.00,0.59
7927,Ord_2502,Prod_4,SHP_3430,Cust_976,2104.9910,0.09,20,165.45,8.80,0.59
7940,Ord_3277,Prod_4,SHP_4550,Cust_1224,2185.9535,0.10,21,268.01,8.99,0.55
7973,Ord_1694,Prod_6,SHP_2346,Cust_582,2145.0500,0.07,45,1012.67,5.86,0.35
7986,Ord_4788,Prod_4,SHP_6674,Cust_1583,2478.4810,0.09,27,249.10,8.99,0.58
8045,Ord_5443,Prod_8,SHP_7605,Cust_1803,2587.5300,0.02,44,401.85,6.55,0.68
8048,Ord_796,Prod_5,SHP_1095,Cust_247,2780.8800,0.07,27,595.38,24.49,0.61
8061,Ord_2020,Prod_2,SHP_3104,Cust_892,2550.1200,0.01,40,882.45,4.50,0.56
8071,Ord_5350,Prod_4,SHP_7473,Cust_1795,2750.1070,0.00,24,600.42,7.69,0.58
8147,Ord_3214,Prod_4,SHP_4457,Cust_1187,2143.2155,0.02,37,464.36,8.99,0.55
8152,Ord_3337,Prod_2,SHP_4630,Cust_1187,2477.9900,0.00,30,747.68,4.50,0.59
8239,Ord_793,Prod_9,SHP_1089,Cust_245,2833.1900,0.06,34,1409.87,5.01,0.38
8262,Ord_4954,Prod_4,SHP_6914,Cust_1694,2455.2760,0.04,42,693.06,5.63,0.56
8271,Ord_4679,Prod_4,SHP_6528,Cust_1587,2823.0370,0.10,29,372.40,4.20,0.59
8289,Ord_1749,Prod_4,SHP_2422,Cust_595,2731.7300,0.07,21,310.59,8.99,0.58
8304,Ord_2709,Prod_11,SHP_3709,Cust_1025,2272.5600,0.06,15,111.05,16.01,0.70
8338,Ord_2107,Prod_2,SHP_2882,Cust_785,2409.9600,0.07,32,575.10,4.50,0.59
8350,Ord_3570,Prod_4,SHP_4942,Cust_1266,2094.9780,0.06,44,697.29,1.25,0.55
8354,Ord_3592,Prod_4,SHP_4973,Cust_1266,2614.3705,0.07,25,384.01,7.69,0.58
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59

In [ ]:
# The 'OR' operator is represented by a | (Note that 'or' doesn't work with pandas)
# E.g. all orders having 2000 < Sales  OR Profit > 100
df.loc[(df.Sales > 2000) | (df.Profit > 100), :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
37,Ord_5040,Prod_2,SHP_7032,Cust_1710,1637.7800,0.08,38,461.65,4.62,0.56
38,Ord_5035,Prod_12,SHP_7025,Cust_1710,416.8000,0.01,32,223.38,0.50,0.38
39,Ord_5045,Prod_5,SHP_7040,Cust_1710,1286.8700,0.05,48,384.38,6.93,0.49
40,Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71
47,Ord_4659,Prod_6,SHP_6493,Cust_1579,1451.5900,0.06,26,435.11,14.30,0.37
54,Ord_4682,Prod_4,SHP_6531,Cust_1579,1909.0065,0.01,32,344.13,8.99,0.59
56,Ord_4410,Prod_5,SHP_6146,Cust_1474,605.7700,0.05,42,129.33,5.00,0.49
57,Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59
62,Ord_4410,Prod_6,SHP_6146,Cust_1474,1480.9100,0.00,44,489.14,8.74,0.40
64,Ord_4475,Prod_4,SHP_6234,Cust_1474,7640.2250,0.07,46,2027.68,2.50,0.59
70,Ord_4607,Prod_2,SHP_6408,Cust_1474,1463.4200,0.08,26,350.82,3.99,0.57
77,Ord_5213,Prod_13,SHP_7284,Cust_1749,1633.3700,0.08,50,144.69,7.73,0.59
79,Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.4000,0.06,12,287.50,49.00,0.38
81,Ord_5205,Prod_4,SHP_7274,Cust_1749,2546.5235,0.09,26,210.00,7.69,0.59
82,Ord_5156,Prod_4,SHP_7207,Cust_1749,8374.1320,0.06,48,2568.10,8.99,0.56
84,Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.5100,0.00,3,-11984.40,24.49,0.39
88,Ord_5172,Prod_4,SHP_7229,Cust_1758,1239.4445,0.07,22,165.50,3.99,0.59
98,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,0.58
102,Ord_1557,Prod_2,SHP_2152,Cust_565,1736.5300,0.10,46,457.03,3.99,0.56
...,...,...,...,...,...,...,...,...,...,...
8328,Ord_2169,Prod_6,SHP_2956,Cust_810,1321.5500,0.10,25,448.24,10.75,0.36
8329,Ord_2160,Prod_15,SHP_2944,Cust_810,3636.3700,0.06,33,-176.91,30.00,0.69
8331,Ord_2148,Prod_10,SHP_2929,Cust_810,2966.1300,0.08,31,-1456.31,57.38,0.78
8332,Ord_2101,Prod_11,SHP_2875,Cust_790,10714.7800,0.00,41,-627.64,66.67,0.65
8334,Ord_2124,Prod_3,SHP_2900,Cust_790,926.8500,0.09,34,382.94,1.49,0.38
8335,Ord_2070,Prod_11,SHP_2833,Cust_784,3905.7500,0.01,21,55.30,29.21,0.76
8338,Ord_2107,Prod_2,SHP_2882,Cust_785,2409.9600,0.07,32,575.10,4.50,0.59
8342,Ord_2119,Prod_2,SHP_2895,Cust_785,1623.0900,0.02,28,245.88,13.22,0.56
8343,Ord_2178,Prod_4,SHP_2968,Cust_785,6030.5800,0.09,39,1197.86,8.99,0.58
8344,Ord_2194,Prod_5,SHP_2991,Cust_785,525.7800,0.03,20,180.64,6.93,0.49
8347,Ord_3534,Prod_4,SHP_4894,Cust_1266,1735.3515,0.08,31,258.62,8.99,0.56
8350,Ord_3570,Prod_4,SHP_4942,Cust_1266,2094.9780,0.06,44,697.29,1.25,0.55
8351,Ord_3584,Prod_15,SHP_4961,Cust_1266,2502.6700,0.10,9,-198.80,64.73,0.56
8354,Ord_3592,Prod_4,SHP_4973,Cust_1266,2614.3705,0.07,25,384.01,7.69,0.58
8358,Ord_3582,Prod_6,SHP_4959,Cust_1266,539.6600,0.00,26,147.08,5.97,0.38
8359,Ord_3543,Prod_3,SHP_4906,Cust_1266,514.2200,0.02,17,187.37,2.99,0.35
8360,Ord_3639,Prod_10,SHP_5038,Cust_1266,2173.2600,0.00,35,-465.66,36.61,0.61
8362,Ord_3593,Prod_5,SHP_4975,Cust_1274,1175.5300,0.03,18,257.59,14.48,0.46
8366,Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.0600,0.03,39,5081.87,19.99,0.38
8367,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25,1653.60,24.49,NaN
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [ ]:
# E.g. all orders having 2000 < Sales < 3000 and Profit > 100
# Also, this time, you only need the Cust_id, Sales and Profit columns
df.loc[(df.Sales > 2000) & (df.Sales < 3000) & (df.Profit > 100), ['Cust_id', 'Sales', 'Profit']]

        Cust_id      Sales   Profit
3     Cust_1818  2337.8900   729.34
81    Cust_1749  2546.5235   210.00
109     Cust_45  2671.2100   636.18
110     Cust_45  2157.3085   519.25
141    Cust_498  2027.5500   537.40
146    Cust_498  2209.5155   458.62
176    Cust_878  2899.9800   666.01
184   Cust_1753  2197.4115   305.96
186   Cust_1753  2213.9200   768.34
230    Cust_209  2343.0760   311.64
285    Cust_506  2980.3720   494.63
314    Cust_560  2230.9700   273.27
349   Cust_1674  2827.1425   713.88
395   Cust_1418  2182.9100   549.45
404    Cust_566  2010.8900   564.07
510   Cust_1346  2660.6105   618.07
522     Cust_51  2689.4800   399.93
536    Cust_227  2180.2300   660.25
541   Cust_1680  2292.1015   398.36
647   Cust_1439  2758.2200   966.81
680    Cust_212  2404.5990   496.89
688   Cust_1682  2257.8800   474.98
718    Cust_783  2135.9735   239.40
720    Cust_805  2773.0315   897.87
729   Cust_1588  2168.0500   416.02
767    Cust_828  2192.6300   660.06
775   Cust_1746  2610.8940   516.19
783   Cust_1017  2368.1680  1181.30
809   Cust_1440  2752.6800   430.32
810   Cust_1440  2405.0000   696.17
...         ...        ...      ...
7777  Cust_1196  2167.0500   684.90
7778  Cust_1196  2040.3900   221.09
7788   Cust_977  2252.2620   478.11
7811  Cust_1188  2080.0350   844.90
7823  Cust_1492  2325.4200   739.91
7858  Cust_1200  2206.1700   251.43
7875   Cust_577  2287.1000   231.49
7877   Cust_577  2503.3265   447.12
7884   Cust_244  2529.3960   371.21
7911  Cust_1693  2882.7070   303.23
7927   Cust_976  2104.9910   165.45
7940  Cust_1224  2185.9535   268.01
7973   Cust_582  2145.0500  1012.67
7986  Cust_1583  2478.4810   249.10
8045  Cust_1803  2587.5300   401.85
8048   Cust_247  2780.8800   595.38
8061   Cust_892  2550.1200   882.45
8071  Cust_1795  2750.1070   600.42
8147  Cust_1187  2143.2155   464.36
8152  Cust_1187  2477.9900   747.68
8239   Cust_245  2833.1900  1409.87
8262  Cust_1694  2455.2760   693.06
8271  Cust_1587  2823.0370   372.40
8289   Cust_595  2731.7300   310.59
8304  Cust_1025  2272.5600   111.05
8338   Cust_785  2409.9600   575.10
8350  Cust_1266  2094.9780   697.29
8354  Cust_1266  2614.3705   384.01
8381  Cust_1006  2836.0505   561.13
8394  Cust_1798  2841.4395   374.63

[328 rows x 3 columns]

In [ ]:
# You can use the == and != operators
df.loc[(df.Sales == 4233.15), :]
df.loc[(df.Sales != 1000), :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [21]:
# You may want to select rows whose column value is in an iterable
# For instance, say a colleague gives you a list of customer_ids from a certain region

customers_in_bangalore = ['Cust_1798', 'Cust_1519', 'Cust_637', 'Cust_851']

# To get all the orders from these customers, use the isin() function
# It returns a boolean, which you can use to select rows
df.loc[df['Cust_id'].isin(customers_in_bangalore), :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

### **Module Exercise ✈**

In [15]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df.loc[(df.area>0) & (df.wind>1) & (df.temp>15)].sort_values(by=['area','wind'],ascending = True)
print(df_2.head(50))

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
246  5  4   aug  sun  91.8  175.1  700.7  13.8  25.7  39   5.4   0.0  0.09
266  6  5   aug  tue  94.3  131.7  607.1  22.7  19.4  55   4.0   0.0  0.17
252  6  5   aug  wed  93.1  157.3  666.7  13.5  22.1  37   3.6   0.0  0.21
251  8  5   aug  wed  93.1  157.3  666.7  13.5  24.0  36   3.1   0.0  0.24
439  1  3   sep  fri  91.1   91.3  738.1   7.2  19.1  46   2.2   0.0  0.33
138  9  9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0  0.36
306  7  4   sep  sun  89.6   84.1  714.3   5.7  17.1  53   5.4   0.0  0.41
139  1  4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0  0.43
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0  0.43
140  2  5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0  0.47
270  2  2   aug  tue  92.1  152.6  658.2  14.3  21.8  56   3.1   0.0  0.52
362  7  4   sep  fri  88.2   55.2  732.3  11.6  15.2  64   3.1   0.0  0.52
436  8  6   aug  mon  92.1  207.0  672.6   8.2  26.8  35   1.3   0.0  0.54
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0  0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0  0.61
257  4  3   aug  sat  94.2  117.2  581.1  11.0  21.4  44   2.7   0.0  0.68
250  8  5   aug  wed  93.1  157.3  666.7  13.5  26.8  25   3.1   0.0  0.68
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0  0.71
423  1  3   sep  sat  91.2   94.3  744.4   8.4  22.3  48   4.0   0.0  0.72
247  2  4   aug  wed  92.2   91.6  503.6   9.6  20.7  70   2.2   0.0  0.75
245  3  4   aug  sun  91.8  175.1  700.7  13.8  26.8  38   6.3   0.0  0.76
144  2  5   aug  wed  95.5   99.9  513.3  13.2  23.8  32   5.4   0.0  0.77
265  4  4   aug  tue  93.7  102.2  550.3  14.6  22.1  54   7.6   0.0  0.79
145  6  5   aug  thu  95.2  131.7  578.8  10.4  27.4  22   4.0   0.0  0.90
147  8  3   sep  tue  84.4   73.4  671.9   3.2  24.2  28   3.6   0.0  0.96
322  6  5   sep  thu  92.8  119.0  783.5   7.5  16.8  28   4.0   0.0  1.01
148  2  2   aug  tue  94.8  108.3  647.1  17.0  17.4  43   6.7   0.0  1.07
360  6  5   sep  fri  92.5  122.0  789.7  10.2  18.4  42   2.2   0.0  1.09
149  8  6   sep  thu  93.7   80.9  685.2  17.9  23.7  25   4.5   0.0  1.12
150  6  5   jun  fri  92.5   56.4  433.3   7.1  23.2  39   5.4   0.0  1.19
441  8  6   aug  mon  92.1  207.0  672.6   8.2  25.5  29   1.8   0.0  1.23
356  4  4   sep  fri  92.1   99.0  745.3   9.6  20.8  35   4.9   0.0  1.26
482  3  4   aug  sun  94.9  130.3  587.1  14.1  23.4  40   5.8   0.0  1.29
151  9  9   jul  sun  90.1   68.6  355.2   7.2  24.8  29   2.2   0.0  1.36
259  7  4   aug  sat  91.8  170.9  692.3  13.7  23.7  40   1.8   0.0  1.38
152  3  4   jul  sat  90.1   51.2  424.1   6.2  24.6  43   1.8   0.0  1.43
154  1  5   sep  sat  93.4  145.4  721.4   8.1  29.6  27   2.7   0.0  1.46
153  5  4   sep  fri  94.3   85.1  692.3  15.9  20.1  47   4.9   0.0  1.46
339  2  4   sep  mon  91.6  108.4  764.0   6.2  20.4  41   1.8   0.0  1.47
253  7  4   aug  thu  91.9  109.2  565.5   8.0  21.4  38   2.7   0.0  1.52
155  7  4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0  1.56
263  6  3   aug  fri  91.1  141.1  629.1   7.1  19.3  39   3.6   0.0  1.56
314  4  4   sep  wed  92.6  115.4  777.1   8.8  19.7  41   1.8   0.0  1.58
156  2  4   sep  sat  93.4  145.4  721.4   8.1  28.6  27   2.2   0.0  1.61
157  2  2   aug  wed  92.1  111.2  654.1   9.6  18.4  45   3.6   0.0  1.63
412  9  4   jul  mon  92.3   92.1  442.1   9.8  22.8  27   4.5   0.0  1.63
158  2  4   aug  wed  92.1  111.2  654.1   9.6  20.5  35   4.0   0.0  1.64
159  7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0  1.69
353  7  4   sep  fri  92.1   99.0  745.3   9.6  19.8  47   2.7   0.0  1.72
160  7  4   mar  mon  90.1   39.7   86.6   6.2  16.1  29   3.1   0.0  1.75